<nav class="navbar navbar-second" role="navigation">
	<div class="container-fluid">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">	      	
	      	<li>{{#link-to 'author.list'}} List {{/link-to}}</li>	        	        
	      </ul>
	    </div>
    </div>	
</nav>

{{outlet author-main}}
