<nav class="navbar navbar-second" role="navigation">
	<div class="container-fluid">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li>{{#link-to 'xref.add'}} Add {{/link-to}}</li>	        
	      	<li>{{#link-to 'xref.list'}} List {{/link-to}}</li>	        	        
	      </ul>
	    </div>
    </div>	
</nav>

{{outlet xref-main}}
