extends layout

block content
  h1
  p Welcome to XYZ >> 123 #{title}
  p NOTE: THIS IS THE REFERENCE PAGE
  if optimize
    p Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.