extends layout




block content
  
  
  //script(src='/javascripts/test/testsuite.js')
  
  //script(src='/javascripts/vendor/jasmine/test/exec.js')
  h1= title
  p HERE >> #{runtest}
  p Welcome to TEST12345 -- converting test jasmine javascript to coffescript!!! >> #{title}
  if optimize
    p Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.
    
  <div style="background:#BBB; width:90%; height:50px" id="testTarget">TARGET AREA</div>
  <br>